@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{ 
    /*principial*/
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
/*Neutral*/
    --VeryDarkBlue-main-BG: hsl(217, 54%, 11%);
    --VeryDarkBlue-card-BG: hsl(216, 50%, 16%);
    --VeryDarkBlue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}


body{
    font-family: 'Outfit', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: var(--VeryDarkBlue-main-BG);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    height: 600px;
    border-radius: 15px;
    background-color: var(--VeryDarkBlue-card-BG);
    margin-top: 80px;
}

.img{
    background-image: url(../images/image-equilibrium.jpg);
    background-size: 100%;
    overflow: hidden;
    margin:  25px 25px 5px 25px ;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

.description{
    padding: 10px;
    margin: 5px 15px ;

}
h1{
    color: var(--White);
}
.description p{
    color: var(--SoftBlue);
    font-size: 18px;
    font-weight: 400;
}
.price{
    color: var(--Cyan);
    font-weight: 600;
    display: flex;
    align-items: center;
}
.price img {
    padding: 5px;
}
.days{
    color: var(--SoftBlue);
    font-weight: 400;
    display: flex;
    align-items: center;
}
.days img {
    padding: 5px;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--VeryDarkBlue-line);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.creation{
    display: flex;
}

.creation p {
    padding-left: 1rem;
    font-weight: 400;
}
.creation span {
    color: var(--White);
}
.creation img{
    margin-top: 10px;
    border: 2px solid var(--White);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.attribution { 
    margin-top: 5rem;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}